
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e0f0ff; 
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}

.form-card {
  background-color: #02afff; 
  color: white;        
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  flex-shrink: 0;
}

.list-card {
  background-color:  #02afff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
}

input {
  width: 90%; 
  padding: 6px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #0056b3;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #003f8a;
}

h1 {
  text-align: center;
  color: #0056b3;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0056b3;
}

.estudiante {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 14px;
}

.estudiante p {
  margin: 4px 0;
}
